*{

    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
   background-color: #f2f2f2;
    padding: 5px 20px 14px 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
input[type="text"],input[type="email"],input[type="password"],input[type="number"],input[type="date"],select
{
    width: 70%;
    padding: 12px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 10px;
}
textarea{
    padding: 12px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 100px;
}
fieldset{
    border: 1px solid black;
    background-color: #fff;
    border-radius: 10px;
    width: 40%;
}
.sub
{
    text-align: center;
    
    border: 1px solid black;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}

.main_heading{
    text-align: center;
    font-size: 30px;
}
input[type="submit"],input[type="reset"]
{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}
input[type="submit"]:hover,input[type="reset"]:hover
{
    background-color: #299b2f;
}
input[type="file"]
{
    background-color: #fff;
    color: black;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 10px;
}